@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

html{
  padding:0px;
  margin:0px;
}

body{

  background: url(https://cloud.githubusercontent.com/assets/10201109/5506687/7e059206-8794-11e4-9c4e-778bd5476111.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


#nav{
  margin-top:2%;
}

li {
  margin-left: 2%;
  padding-left: 1%;
  font-size: 120%;
}

a {
  color: white;
}

a:hover {
  color:#536878;
  text-decoration:none;
}

h1 {
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  margin-top: 30%;

}

span{
   color:#198cff;
}

.p-container{
  background:rgba(0,0,0,0.3);

  width:100%;
  padding:2%;

}

 .p-container p{
   font-family: 'Archivo Narrow', sans-serif;
   text-align:justify;
   opacity:1;
   width:100%;
   color:white;

 }
 article{
   opacity:0.9;
   width:30%;
   float:left;
 }
 aside{
   background:rgba(0,0,0,0.4);
   font-family: 'Archivo Narrow', sans-serif;
   float:right;
   margin-top:0%;
   padding-left:3%;
   width:27%;

 }

footer{
  font-family: 'Archivo Narrow', sans-serif;
  clear:both;
position:absolute;
width:100%;
  bottom:0;
  left:0;
  text-align:center;
  padding:0;
  color:rgb(255,255,255);
}


 aside ul li {
   width:180px;
   border-bottom:solid black 1px;
   border-left:solid black 1px;
  list-style:none;
  margin-left:-7%;
  color:#3399FF;

}
aside ul li p{
  color:#123582;
  font-size:140%;
  letter-spacing:4px;

}
aside ul li span{
   color:rgb(0,0, 0);
}

.span-text{
  margin-left:10px;

  color:#FFFFFF;
  font-size:140%;
  letter-spacing:4px;
}
 h3{
   font-size:180%;
   color:#dfe3ee;
   padding-left:5%;
   letter-spacing:2px;
 }
/*============================================================================*/
#body1{
background: url();
padding:0px;
margin:0px;

}
.header{
  background-color:rgb(14, 166, 212);
  margin-top:0px;
  padding-top:0px;
  width:100%;
  height:90px;

}
#il{
  margin-top:2%;
  margin-left:2%;
  padding-left: 1%;
}


#footer1{
 position:fixed;
 bottom:0;
 left:0;
  color:#191518;
}

.a{
  color:#000;

  }

.glyp{
  color:#777b7f;
}
 .row{
   width:100%;
   margin-top:4%;
   margin-left :auto;
   margin-right :auto;
 }

 div.col-sm-6, div.col-md-4{

   margin-left:auto;
   margin-right:auto;
   height:397px;
 }
div.thumbnail{
  padding:0;
  height:397px;
  box-shadow: 2px 2px 1px 2px gray;
  -webkit-box-shadow: 1px 1px 3px  gray;
  -moz-box-shadow: 2px 2px 1px 2px gray;
  -o-box-shadow: 2px 2px 1px 2px gray;
}

/*.thumbnail:hover {
  background-color:rgba(0,0,0,.5);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);

}
*/
.site1-header {
background-color:green;
}

.site1-ul{
  padding:0;
  width:100%;
  text-align:center;

}

.site1-ul .site1-li{

  margin-left:auto;
  margin-top:1%;
  list-style:none;
  display:inline-block;

}

.site1-ul .site1-li  .site1-a{
  margin-left:auto;
  margin-right:auto;
font-size:14px;
color:black;
font-family: 'Lobster Two', cursive;


}

.site-show{
  display:none;
  position:fixed;
  width:70%;
  height:74%;
  margin-top:8%;
  margin-left:15%;
 border:solid white 10px;
 background-color:blue;
  z-index:12;
  box-shadow: 2px 2px 1px 2px gray;
  -webkit-box-shadow: 1px 1px 3px  gray;
  -moz-box-shadow: 2px 2px 1px 2px gray;
  -o-box-shadow: 2px 2px 1px 2px gray;
}

.glyphicon-remove-circle{
  color:black;
  background-color:gray;
  margin-left:100.5%;
  top:-55px;
  border-radius:1000px;
}
.site1-header1{
  z-index:14;
  top:-65px;
  position:relative;
  background-color:green;
}
