<!DOCTYPE html>
<html ng-app='website'>
<head>
  <title>DarioGuida</title>
  <meta lang="eng" charset="UTF-8">
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width">



  <link rel="shortcut icon" href="/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css"  href="css/main.css">
</head>


<body class="container-fluid">

    <header id="header_container">

      <nav  id="nav">
        <ul class="list-inline" id="ul">
          <li >
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <a id="index" href="index.html">HOME</a>
          </li>
          <li >
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <a href="portfolio.html">PORTFOLIO</a>
          </li>
          <li class="main_li">
            <span class="glyphicon glyphicon glyphicon-inbox" aria-hidden="true"></span>
            <a href="contact.html">CONTACTS</a>
          </li>
        </ul>
      </nav>

</header>
<div class="main-body">
<article>
  <h1>About Me</h1>
<div class="p-container"><p class="lead"  ng-controller="MyController as cnt">{{cnt.data}}<!---->
  </p></div>

</article>

<aside >
  <h3>My Skills: </h3>
      <ul>

    <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"><span class="span-text">Html5</span></span></li>
    <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"><span class="span-text">Css</span></span></li>
    <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"><span class="span-text">Javascript</span></span></li>
    <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"><span class="span-text">Jquery</span></span></li>
    <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"><span class="span-text">Less</span></span></li>
    <li><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"><span class="span-text">Bootstrap</span></span></li>
  </ul>


</aside>


<footer><p id="p-footer">
  Dario Guida 2014
</p></footer>
<script lang="javascript"src="bower_components/jquery/dist/jquery.js"></script>
<script lang="javascript"src="bower_components/angular/angular.js"></script>
<script lang='javascript' src='Script/angularScript.js'></script>
<script lang="javascript" src="Script/main.js"></script>
</div>
</body>

</html>
